*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
    
body{
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-position: left 50vw top 50vh, right 50vw bottom 50vh;
    background-repeat: no-repeat;
}

main{
    min-height: 97vh;
    display: flex;
    align-items: center;
}

.container{
   margin: 0 auto;
   position: relative;
   background-color: white;
   border-radius: 5%;
   box-shadow: 20px 5px 100px hsl(185, 75%, 39%);
}

.card{
    padding-bottom: 0%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.profile{
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    display: block;
}


.profilepicture{
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 110px;
    right: 50px;
    border-radius: 50%;
    width: 100px;
}

.name{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    padding: 5px;
}

.city{
    font-size: 12px;
}

hr{
margin-top: 30px;
color: hsl(227, 10%, 46%);
opacity: 25%;
}

.stats{
    display: flex;  
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.stats span{
    display: block;
    font-size: 10px;
}

.likes , .photos{
    margin-left: 50px;
}

.followers{
margin-left: 30px;
}

@media only screen and (max-width: 375px){
    .container{
        box-shadow: 20px 50px 100px hsl(185, 75%, 39%);
    }

    .name{
        font-size: 20px;
    }

    .city{
        margin-bottom: 90px;
    }
}